AppKit==0.2.8
argcomplete==3.2.2
attr==0.3.2
Babel==2.14.0
BeautifulSoup==3.2.2
Brotli==1.1.0
brotlicffi==1.1.0.0
cElementTree==1.0.2-20050302
cffi==1.16.0
ConfigParser==6.0.0
coverage==7.4.1
dl==0.1.0
elementtree==1.2.6-20050316
email_validator==2.1.0.post1
flask_babel==4.0.0
hypothesis==6.98.4
Image==1.5.33
importlib_resources==6.1.1
ipython==8.21.0
ipywidgets==8.1.2
mtrand==0.1
mypy==1.8.0
numarray==1.5.1
Numeric==24.2
Parser==0.1
PasteScript==3.4.0
pexpect==4.9.0
pickle5==0.0.12
Pillow==10.2.0
psutil==5.9.8
pycares==4.4.0
pycurl==7.45.2
PyInstaller==6.4.0
pyodide==0.0.2
python_bcrypt==0.3.2
pythran==0.15.0
pytz==2024.1
PyYAML==6.0.1
recommonmark==0.7.1
secretstorage==3.3.3
sets==0.3.2
shtab==1.6.5
shutilwhich==1.1.0
Sphinx==7.2.6
threadpoolctl==3.2.0
wincertstore==0.2.1
xmlrpclib==1.0.1
zope==5.9
