.navbar {
    display: block;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 2% auto;
    margin-top: 1%;
}

.navbar .left {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.navbar .right {
    display: flex;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: #333;
    margin-right: 10px;
    transition: color 0.3s;
}

.navbar a img {
    vertical-align: middle;
    margin-right: 5px;
    transition: filter 0.3s;
}

.navbar a:hover {
    color: #007bff;
}

.navbar a:hover img {
    filter: invert(70%);
    -webkit-filter: invert(70%);
}

.form-container {
    display: flexbox;
    flex-direction: column;
    align-items: center;
}

.form-container input,
.form-container select,
.form-container button {
    margin: 5px 0;
    align-items: center;

}

/* Media query for larger screens */
@media screen and (min-width: 1081px) {
    .navbar a {
        font-size: 2rem;
    }
    .navbar a img {
        width: 40px;
    }
}

/* Media query for smaller screens */
@media screen and (max-width: 1080px) {
    .navbar a {
        font-size: 2rem;
    }
    .navbar a img {
        width: 40px;
    }
}

