body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

h2 {
  text-align: center;
  margin-top: 20px;
  color: #333;
}

nav {
  text-align: center;
  margin-top: 20px;
  font-size: 150%;
}

nav a {
  display: inline-block;
  padding: 1%;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

nav a:hover {
  background-color: #0056b3;
}

.circle {
  border-radius: 90%;
  -webkit-border-radius: 90%;
  -moz-border-radius: 90%;
  -ms-border-radius: 90%;
  -o-border-radius: 90%;
}

.pagination {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
}

.pagination a {
  display: inline-block;
}

.pagination a:hover {
  background-color: #3801fe;
}

.pagination ul {
  list-style-type: none;
}

.ellipsis{
  padding: 1%;
  margin-right: 1%;
}

#data-container {
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#data-container h3 {
  color: #333;
}

#data-container p {
  color: #666;
}

/* CSS for screens larger than 1080 pixels */
@media screen and (min-width: 3000px) {
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-size: 2rem;
  }
}