body {
  font-family: "Arial", sans-serif;
  margin: 20px;
  padding: 0;
  background-color: #f2f2f2;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: fit-content;
  height: fit-content;
  background-color: #dddddd;
}

.search-options {
  display: block;
  color: blue;
  padding: 12px;
  text-decoration: none;
  font-size: 20px;
}

.search-option {
  margin-bottom: 5px;
}

.right-side {
  position: absolute;
  width: 70%;
  margin-left: 20%;
  top: 10%;
}

.search-input {
  margin-bottom: 5%;
}

input {
  padding: 12px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 80%;
}

select[name="search_type"] {
  height: 40px;
}

button {
  padding: 12px;
  background-color: #4285f4;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.book-details {
  display: grid;
  /* Adjust this for the number of books :D */
  grid-template-columns: repeat(auto-fill, minmax(10%, 1fr));
  gap: 1%;
}

.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-description {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.book-cover {
  width: 100%;
  object-fit: cover;
}

.book-info {
  width: 100%;
  text-align: center;
}

.shopping-cart {
  width: 10%;
}

div {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-description {
  padding: 4%;
  height: auto;
}

div > div {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

h4 {
  color: #4285f4;
}

div:last-child {
  font-size: 1rem;
  color: #555;
}

ul {
  margin-right: 40%;
}

/* CSS styles for larger screens */
@media screen and (min-width: 3000px) {
  h2,
  .see-all,
  p,
  input,
  button {
    font-size: 2rem;
  }

  select[name="search_type"] {
    font-size: 2rem;
  }

  ul {
    font-size: 2rem;
    margin-right: 20%;
  }

  .book-details {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

/* CSS styles for smaller screens */
@media screen and (max-width: 1080px) {
  .book-details {
    display: block;
  }

  .book-card {
    margin-bottom: 20px;
  }
  ul {
    margin-right: 20%;
  }
}
