body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
}

nav {
    text-align: center;
    margin-top: 20px;
}

nav a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 10px;
}

nav a:hover {
    background-color: #0056b3;
}

#data-container {
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#data-container h3 {
    color: #333;
}

#data-container p {
    color: #666;
}

