<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
</head>
<body>
    <h2>Cart:</h2>
    <ul>
        {% for book in cart %}
            <ul>
                <strong>Title:</strong> {{ book[0] }}<br>
                <strong>Author:</strong> {{ book[1] }}<br>
                <strong>Genre:</strong> {{ book[2] }}<br>
                <strong>Publisher:</strong> {{ book[3] }}<br>
                <strong>Published Date:</strong> {{ book[4] }}<br>
                <strong>ISBN:</strong> {{ book[5] }}<br>
                <strong>Price:</strong> {{ book[6] }}<br>
                <strong>Rating:</strong> {{ book[7] }}<br>
            </ul>
        {% endfor %}
    </ul>

    <!-- Add checkout logic here -->
</body>
</html>
