<!--
    Colabrators
    Stefan main structor of the website

-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bombastic Books</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='home.css') }}"
    />
    <script type="text/javascript" src="/static/search-option.js"></script>
    <script type="text/javascript" src="/static/book-details.js"></script>
    <script type="text/javascript" src="/static/cart-box.js"></script>
  </head>
  <body>
    <h2>Bombastic Books</h2>
    <p><a href="{{ url_for('login') }}">Login</a></p>
    <div class="search-container">
      <div class="search-by">
        <h4>Search by</h4>
        <button
          class="search-option"
          id="title"
          data-placeholder="Search by Title"
        >
          Title
        </button>
        <br />
        <button
          class="search-option"
          id="author"
          data-placeholder="Search by Author"
        >
          Author
        </button>
        <br />
        <button
          class="search-option"
          id="genre"
          data-placeholder="Search by Genre"
        >
          Genre
        </button>
        <br />
        <button
          class="search-option"
          id="price"
          data-placeholder="Search by Price"
        >
          Price
        </button>
      </div>
    </div>
    <div class="search-input">
      <input type="text" id="searchKeyword" placeholder="Search by Title" />
      <button id="searchButton">Search</button>
    </div>
    <strong>Recommended For You</strong>
    <div class="book-details">
      {% for book in books_data %}
      <div class="book-card">
        <ul>
          {% set cover_url = 'https://covers.openlibrary.org/b/title/' + book[0] + '-L.jpg' %}
          <img
              src="{{ cover_url }}"
              alt="Book Cover"
              style="min-width: 100px; min-height: 150px;"
          />
          <strong>Title:</strong>
          {{ book[0] }}<br />
          <strong>Author:</strong>
          {{ book[1] }}<br />
          <strong>ISBN:</strong>
          {{ book[2] }}<br />
          <strong>Price:</strong>
          {{ book[3] }}<br />
          <strong>In Stock:</strong>
          {{ book[4] }}<br />
          <a href="/book_details/{{ book[0] }}" class="view-details-button"
            >View Details</a
          >
          <!-- Add to Cart form -->
          <form action="/add_to_cart" method="POST">
            <input type="hidden" name="index" value="{{ loop.index - 1 }}" />
            <input type="hidden" name="title" value="{{ book[0] }}" />
            <button type="submit" class="add-to-cart-button">
              Add to Cart
            </button>
          </form>
        </ul>
      </div>
      {% endfor %}
      <a href="display/1" class="see-all">View All</a>
    </div>
    <div class="shopping-cart">
      Shopping cart
      <button class="cart-button">cart</button>
    </div>
  </body>
</html>
