<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Bombastic Bookstore</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='base.css') }}"
    />
  </head>
  <body>
    <div class="navbar">
      <a href="{{ url_for('home') }}"
        ><img src="../static/images/home.png" alt="Home"
      /></a>
      {% if current_user.is_anonymous %}
      <a  href="{{ url_for('login') }}">Login</a>
      {% else %}
      <a href="{{ url_for('cart') }}"
        ><img src="../static/images/cart.png" alt="Cart"
      /></a>
      <a href="{{ url_for('user', username=current_user.username) }}"
        ><img src="../static/images/profile.png" alt="Profile"
      /></a>
      <a href="{{ url_for('logout') }}">Logout</a>
      {% endif %} {% if current_user.id == 1 %}
      <a href="{{ url_for('admin') }}">Admin</a>
      {% endif %}
      <form class="form-container" action="{{ url_for('search') }}" method="GET">
        <input type="text" name="query" placeholder="Search" size="64" />
        <select name="search_type">
            <option value="title">Title</option>
            <option value="author">Author</option>
            <option value="genre">Genre</option>
        </select>
        <button type="submit">Search</button>
    </form>
    </div>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %} {% block content %}{% endblock %}
  </body>
</html>
