<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
      <title>{{ title }} - Bombastic Bookstore</title>
      {% else %}
      <title>Welcome to Bombastic Bookstore</title>
      {% endif %}
      <link
      rel="stylesheet"
      href="{{ url_for('static', filename='base.css') }}"
    />
    </head>
    <body>
        <div class="navbar">
            <navbar class="left">
                <a href="{{ url_for('home') }}"><img src="../static/images/home.png" alt="Home"></a>
            </navbar>
            <navbar class="right">
                {% if current_user.is_anonymous %}
                <a href="{{ url_for('login') }}">Login</a>
                {% else %}
                <a href="{{ url_for('cart') }}"><img src="../static/images/cart.png" alt="Cart"></a>
                <a href="{{ url_for('user', username=current_user.username) }}"><img src="../static/images/profile.png" alt="Profile"></a>
                <a href="{{ url_for('logout') }}">Logout</a>
                {% endif %}
                {% if current_user.id == 1 %}
                <a href="{{ url_for('admin') }}">Admin</a>
                {% endif %}
            </navbar>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>