<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Details</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='home.css') }}"
    />
    <script type="text/javascript" src="/static/search-option.js"></script>
    <script type="text/javascript" src="/static/book-details.js"></script>
    <script type="text/javascript" src="/static/cart-box.js"></script>
<body>

  <a href="/" class="home-button">Home</a>

    <h1>Book Details</h1>
    <div class="book-description">
      <!-- Replace Jinja2 placeholders with static content -->
      <!-- Example static content, replace with actual static URL for book cover -->
      <img src="/static/images/coverNotFound.png" alt="Book Cover"><br>
      <strong>Title:</strong> Example Title<br>
      <strong>Author:</strong> Example Author<br>
      <strong>Publisher:</strong> Example Publisher<br>
      <strong>Genre:</strong> Example Genre<br>
      <strong>ISBN:</strong> Example ISBN<br>
      <strong>Price:</strong> Example Price<br>
      <strong>In stock:</strong> Example Stock<br>
      <!-- Example static content for book description -->
      <h1>Book Description</h1>
      <p>Example Book Description</p>
      <form action="/add_to_cart" method="POST">
          <input type="hidden" name="title" value="Example Title">
          <button type="submit" class="add-to-cart-button">Add to Cart</button>
      </form>
  </div>
</body>
</html>
