<!DOCTYPE html>
<html lang="en">
<head>
  {% extends "base.html" %}
  {% block content %}
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Book Details</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='book_details.css') }}" />
  <script type="text/javascript" src="/static/search-option.js"></script>
  <script type="text/javascript" src="/static/book-details.js"></script>
  <script type="text/javascript" src="/static/cart-box.js"></script>
</head>
<body>
  <!-- <a href="/" class="home-button">Home</a> -->

    <h1>Book Details</h1>
    <div class="book-description">
      <div class="left-column">
      <!-- Still pulling book cover from open lib API -->
      {% if book_data[0] in BooksWithNoCover %}
        <img class="book-cover" src="/static/images/coverNotFound.png" alt="Book Cover">
      {% else %}
        {% set cover_url = 'https://covers.openlibrary.org/b/title/' + book_data[0] + '-L.jpg' %}
        <img class="book-cover" src="{{ cover_url }}" alt="Book Cover">
      {% endif %}
    </div>
    <!-- Right column for book details -->
    <div class="right-column">
      <p>
        <strong>Title:</strong> {{ book_data[0] }}<br>
        <strong>Author:</strong> {{ book_data[1] }}<br>
        <strong>Publisher:</strong> {{ book_data[3] }}<br>
        <strong>Genre:</strong> {{ book_data[2] }}<br>
        <strong>ISBN:</strong> {{ book_data[5] }}<br>
        <strong>Price:</strong> {{ book_data[6] }}<br>
        <strong>In stock: {{ book_data[7] }}</strong>
      </p>
      <!-- Description from google api -->
      <h1>Book Description</h1>
      <p>{{ description }}</p>
      <form action="/add_to_cart" method="POST">
        <input type="hidden" name="title" value="{{ book_data[0] }}">
        <button type="submit" class="add-to-cart-button">Add to Cart</button>
      </form>
    </div>
  </div>
</body>
{% endblock %}
</html>
