<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="/static/checkout.js"></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='checkout.css') }}"
    />
    <title>Checkout</title>
  </head>
  <body>
    <div class="container">
      <header>
        <h2>Checkout</h2>
      </header>
      <form class="payment" id="payment-form" action="/receipt" method="post">
        <!--For testing
              Valid: 4111111111111111 
              Valid: 4012888888881881
              Invalid: 4222222222222
              -->
        <div class="form-group">
          <label for="card_number">Card Number:</label>
          <input type="text" id="card_number" name="card_number" required />
        </div>
        <div class="form-group">
          <label for="expiry_date">Expiry Date:</label>
          <input
            type="text"
            id="expiry_date"
            name="expiry_date"
            placeholder="MM/YYYY"
            required
          />
        </div>
        <div class="form-group">
          <label for="cvv">CVV:</label>
          <input type="text" id="cvv" name="cvv" maxlength="3" required />
        </div>
        <div class="form-group">
          <label for="card_holder_name">Card Holder Name:</label>
          <input
            type="text"
            id="card_holder_name"
            name="card_holder_name"
            required
          />
        </div>

        <!-- Hidden input field for total_of_all_books -->
        <input
          type="hidden"
          id="total_of_all_books"
          name="total_of_all_books"
          value="{{ total_of_all_books }}"
        />

        <!-- Add hidden input fields for other variables -->
        <div class="form-group">
          <label for="street">Street:</label>
          <input type="text" id="street" name="street" required />
        </div>
        <div class="form-group">
          <label for="city">City:</label>
          <input type="text" id="city" name="city" required />
        </div>
        <div class="form-group">
          <label for="state">State:</label>
          <input type="text" id="state" name="state" required />
        </div>
        <div class="form-group">
          <label for="postal_code">Postal Code:</label>
          <input type="text" id="postal_code" name="postal_code" required />
        </div>

        <button type="button" onclick="submitForm()">Verify Payment</button>

        <p id="passOrFail" class="error-msg" style="color: red"></p>

        <form class="receipt" id="receipt-form" action="/receipt" method="post">
          <button id="orderNowButton" style="display: none">Order Now</button>
        </form>
      </form>

      <ul class="cart-summary">
        <h4 class="total-label">The total is ${{ total_of_all_books }}</h4>
        {% for item in cart %}
        <li class="cart-item">
          <ul class="item-details">
            <div class="column">
              <li><strong>Title:</strong> {{ item[0][0] }}</li>
              <li><strong>Price:</strong> {{ item[0][6] }}</li>
            </div>
            <div class="column">
              <li><strong>Quantity:</strong> {{ item[0][7] }}</li>
              <li><strong>Quantity in Cart:</strong> {{ item[1] }}</li>
            </div>
          </ul>
        </li>
        {% endfor %}
      </ul>
    </div>
  </body>
</html>
