<!DOCTYPE html>
<html lang="en">
  {% extends "base.html" %} {% block content %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='receipt.css') }}"
    />
    <title>Receipt</title>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Receipt</h1>
      </header>
      <section class="summary">
        <h2>Total Price: ${{ total_of_all_books }}</h2>
        <div class="address">
          <h3>Shipping Address:</h3>
          <p>{{ street }}, {{ city }}, {{ state }}, {{ postal_code }}</p>
        </div>
        <div class="card-holder">
          <h3>Card Holder Name:</h3>
          <p>{{ card_holder_name }}</p>
        </div>
      </section>
      <section class="books">
        <h2>Books:</h2>
        {% if cart_details %}
        <ul class="book-list">
          {% for item in cart_details %}
          <li class="book-item">
            <div class="book-details">
              <div class="column">
                <p><strong>Title:</strong> {{ item[0][1] }}</p>
                <p><strong>ISBN:</strong> {{ item[0][5] }}</p>
              </div>
              <div class="column">
                <p><strong>Price:</strong> {{ item[0][6] }}</p>
                <p><strong>Quantity:</strong> {{ item[1] }}</p>
              </div>
              <div class="column">
                <p><strong>Total Price:</strong> {{ item[2] }}</p>
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
        {% else %}
        <p class="no-books">No books selected</p>
        {% endif %}
      </section>
    </div>
  </body>
  {% endblock %}
</html>
